body {
	background-color:lightgray;
	color: black;
	font-family:Georgia, 'Times New Roman', Times, serif;
	
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 30px;
}

p {
	font-size: 18px;
}

li {
	font-family: sans-serif;
}

em {
	font-size: 14px;
}

img {
	width: 500px;
}